<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="Mobile.gavelgo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name=".View.Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.MainActivity"></activity>
        <activity android:name=".View.Activity.UserLogin"></activity>
        <activity android:name=".View.Activity.SignupActivity"></activity>
        <activity android:name=".View.Activity.ResetPassordActivity"></activity>
        <activity android:name=".View.Activity.AddPartnerInformation"></activity>
        <activity android:name=".View.Activity.AddProductActivity"></activity>
        <activity android:name=".View.Activity.AddConsumerInformation"></activity>
        <activity android:name=".View.Activity.ProductDetail"></activity>
        <activity android:name=".View.Activity.MessagesActivity"></activity>
        <activity android:name=".View.Activity.PartnerProductList"></activity>


    </application>

</manifest>